* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: 1px solid red;
}
body {
    text-align: center;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.header-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 24px;
}

.hero-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px;
    gap: 10px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    flex: 1;
    color: #f9faf8;
    text-align: left;
}

.sign-up {
    align-self: flex-start;
    background-color: #3882f6;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px 22px;
    border-radius: 8px;
}

p {
    flex: 1;
    color: #e5e7eb;
}

img {
    max-width: 200px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

a, li {
    color: #e5e7eb;
}

.title {
    margin-bottom: 32px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  
  .info {
    max-width: 200px;
  }