* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    /* border: 1px solid red; */
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.header-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 24px;
}

.hero-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px;
    gap: 10px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    flex: 1;
    color: #f9faf8;
    text-align: left;
}

.sign-up {
    align-self: flex-start;
    background-color: #3882f6;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px 22px;
    border-radius: 8px;
}

p {
    flex: 1;
    color: #e5e7eb;
}

img {
    max-width: 200px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

a, li {
    color: #e5e7eb;
    text-decoration: none;
}

.title {
    margin: 24px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
  
.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 100px;
}
  
.info {
    max-width: 200px;
}

.info > img {
    border-radius: 22px;
}

.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 104px 10%;
    background-color: #e5e7eb;
}

.review-text {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.author {
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}
.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

h3 {
    display: flex;
    align-self: flex-start;
    color: #e5e7eb;
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    color: #e5e7eb;
}


.blue {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    gap: 100px;
    background-color: #3882f6;
    border-radius: 8px;
}

.sign-up-footer {
    background-color: #3882f6;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px 22px;
    border-radius: 8px;
    margin-right: auto;
    border-color: #e5e7eb;

}

.footer-text {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 24px;
}